/* .sm : Small devices (phones, < 576px) */
.fc-141414 { color: #141414; }
.fc-5e5e5e { color: #5e5e5e; }
.fc-ffffff { color: #ffffff; }
.bg-198bb4 { background-color: #198bb4; }
.bg-141414 { background-color: #141414; }

.line-height-14 { line-height: 1.4;}

.fs-60{ font-size: 60px;}
.fs-40{ font-size: 40px;}
.fs-34{ font-size: 34px;}
.fs-30{ font-size: 30px;}
.fs-24{ font-size: 24px;}
.fs-20{ font-size: 20px;}
.fs-18{ font-size: 18px;}
.fs-16{ font-size: 16px;}
.fs-14{ font-size: 14px;}
.fs-12{ font-size: 12px;}

.fw-400{ font-weight: 400; } /* Reguler */
.fw-500{ font-weight: 500; } /* Mdeium */
.fw-600{ font-weight: 600; } /* Semi Bold */
.fw-700{ font-weight: 700; } /* Bold */
.fw-800{ font-weight: 800; }
.fw-900{ font-weight: 900; }

.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-50{ margin-bottom: 50px; }
.mb-60{ margin-bottom: 60px; }
.mb-70{ margin-bottom: 70px; }
.mb-80{ margin-bottom: 80px; }
.mb-90{ margin-bottom: 90px; }
.mb-100{ margin-bottom: 100px; }
.mb-150{ margin-bottom: 150px; }
.mb-200{ margin-bottom: 200px; }
.mb-250{ margin-bottom: 250px; }
.mb-300{ margin-bottom: 300px; }

.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px; }
.mt-60{ margin-top: 60px; }
.mt-70{ margin-top: 70px; }
.mt-80{ margin-top: 80px; }
.mt-90{ margin-top: 90px; }
.mt-100{ margin-top: 100px; }
.mt-150{ margin-top: 150px; }
.mt-200{ margin-top: 200px; }
.mt-250{ margin-top: 250px; }
.mt-300{ margin-top: 300px; }

.pt-200{ padding-top: 200px; }


/* .sm : Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .fs-sm-60{ font-size: 60px;}
  .fs-sm-40{ font-size: 40px;}
  .fs-sm-30{ font-size: 30px;}
  .fs-sm-24{ font-size: 24px;}
  .fs-sm-20{ font-size: 20px;}
  .fs-sm-18{ font-size: 18px;}
  .fs-sm-16{ font-size: 16px;}
  .fs-sm-14{ font-size: 14px;}
  .fs-sm-12{ font-size: 12px;}

  .fw-sm-400{ font-weight: 400; }
  .fw-sm-500{ font-weight: 500; }
  .fw-sm-600{ font-weight: 600; }
  .fw-sm-700{ font-weight: 700; }


  .mb-sm-10{ margin-bottom: 10px; }
  .mb-sm-20{ margin-bottom: 20px; }
  .mb-sm-30{ margin-bottom: 30px; }
  .mb-sm-40{ margin-bottom: 40px; }
  .mb-sm-50{ margin-bottom: 50px; }
  .mb-sm-60{ margin-bottom: 60px; }
  .mb-sm-70{ margin-bottom: 70px; }
  .mb-sm-80{ margin-bottom: 80px; }
  .mb-sm-90{ margin-bottom: 90px; }
  .mb-sm-100{ margin-bottom: 100px; }
  .mb-sm-150{ margin-bottom: 150px; }
  .mb-sm-200{ margin-bottom: 200px; }
  .mb-sm-250{ margin-bottom: 250px; }
  .mb-sm-300{ margin-bottom: 300px; }

  .mt-sm-10{ margin-top: 10px; }
  .mt-sm-20{ margin-top: 20px; }
  .mt-sm-30{ margin-top: 30px; }
  .mt-sm-40{ margin-top: 40px; }
  .mt-sm-50{ margin-top: 50px; }
  .mt-sm-60{ margin-top: 60px; }
  .mt-sm-70{ margin-top: 70px; }
  .mt-sm-80{ margin-top: 80px; }
  .mt-sm-90{ margin-top: 90px; }
  .mt-sm-100{ margin-top: 100px; }
  .mt-sm-150{ margin-top: 150px; }
  .mt-sm-200{ margin-top: 200px; }
  .mt-sm-250{ margin-top: 250px; }
  .mt-sm-300{ margin-top: 300px; }

  .board-teb-menu > div a { padding: 25px 0;}
  .board-type-2.list .item:nth-child(1) > div, .board-type-2.list .item:nth-child(2) > div { border-top: 1px solid #141414; }

  #footer { padding-top: 300px; padding-bottom: 160px; }
  #footer .btn-wrap { margin-top: 10px; max-width: 270px; }

  #home .hero-title { height: 100vh; }
  #home .video-container { height: 100vh; }
  #home .turn-box { height: 180px; }
  #eruda #sec1.hero-image { height: 100vh; }
  #eruda #sec1.hero-image .hero-text-wrap { top: calc(50% - 61px); }
  #wedo .rolling-text .box {width: 530px;height: 62px;}
  #wedo .accordion li { margin-bottom: 50px; padding-bottom: 50px; }
  #wedo .accordion li.click { margin-bottom: 100px; padding-bottom: 100px; }
  #wedo .accordion li .inner { margin-top: 100px;}
}
/* End Small devices (landscape phones, 576px and up) */


/* .md : Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .fs-md-80{ font-size: 80px;}
  .fs-md-60{ font-size: 60px;}
  .fs-md-40{ font-size: 40px;}
  .fs-md-30{ font-size: 30px;}
  .fs-md-24{ font-size: 24px;}
  .fs-md-20{ font-size: 20px;}
  .fs-md-18{ font-size: 18px;}
  .fs-md-16{ font-size: 16px;}
  .fs-md-14{ font-size: 14px;}
  .fs-md-12{ font-size: 12px;}

  .fw-md-400{ font-weight: 400; }
  .fw-md-500{ font-weight: 500; }
  .fw-md-600{ font-weight: 600; }
  .fw-md-700{ font-weight: 700; }

  .mb-md-10{ margin-bottom: 10px; }
  .mb-md-20{ margin-bottom: 20px; }
  .mb-md-30{ margin-bottom: 30px; }
  .mb-md-40{ margin-bottom: 40px; }
  .mb-md-50{ margin-bottom: 50px; }
  .mb-md-60{ margin-bottom: 60px; }
  .mb-md-70{ margin-bottom: 70px; }
  .mb-md-80{ margin-bottom: 80px; }
  .mb-md-90{ margin-bottom: 90px; }
  .mb-md-100{ margin-bottom: 100px; }
  .mb-md-150{ margin-bottom: 150px; }
  .mb-md-200{ margin-bottom: 200px; }
  .mb-md-250{ margin-bottom: 250px; }
  .mb-md-300{ margin-bottom: 300px; }

  .mt-md-10{ margin-top: 10px; }
  .mt-md-20{ margin-top: 20px; }
  .mt-md-30{ margin-top: 30px; }
  .mt-md-40{ margin-top: 40px; }
  .mt-md-50{ margin-top: 50px; }
  .mt-md-60{ margin-top: 60px; }
  .mt-md-70{ margin-top: 70px; }
  .mt-md-80{ margin-top: 80px; }
  .mt-md-90{ margin-top: 90px; }
  .mt-md-100{ margin-top: 100px; }
  .mt-md-150{ margin-top: 150px; }
  .mt-md-200{ margin-top: 200px; }
  .mt-md-250{ margin-top: 250px; }
  .mt-md-300{ margin-top: 300px; }

  #eruda #sec1.hero-image .hero-text-wrap { top: calc(50% - 80px); }
  #portfolio .portfolio-category ul li { height: auto;}
  #board-detail .board-wrap { margin-bottom: 100px; font-size: 18px;}
}
/* End Medium devices (tablets, 768px and up) */


/* .lg : Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fs-lg-60{ font-size: 60px;}
  .fs-lg-40{ font-size: 40px;}
  .fs-lg-30{ font-size: 30px;}
  .fs-lg-24{ font-size: 24px;}
  .fs-lg-20{ font-size: 20px;}
  .fs-lg-18{ font-size: 18px;}
  .fs-lg-16{ font-size: 16px;}
  .fs-lg-14{ font-size: 14px;}
  .fs-lg-12{ font-size: 12px;}

  .fw-lg-400{ font-weight: 400; }
  .fw-lg-500{ font-weight: 500; }
  .fw-lg-600{ font-weight: 600; }
  .fw-lg-700{ font-weight: 700; }

  .mb-lg-10{ margin-bottom: 10px; }
  .mb-lg-20{ margin-bottom: 20px; }
  .mb-lg-30{ margin-bottom: 30px; }
  .mb-lg-40{ margin-bottom: 40px; }
  .mb-lg-50{ margin-bottom: 50px; }
  .mb-lg-60{ margin-bottom: 60px; }
  .mb-lg-70{ margin-bottom: 70px; }
  .mb-lg-80{ margin-bottom: 80px; }
  .mb-lg-90{ margin-bottom: 90px; }
  .mb-lg-100{ margin-bottom: 100px; }
  .mb-lg-150{ margin-bottom: 150px; }
  .mb-lg-200{ margin-bottom: 200px; }
  .mb-lg-250{ margin-bottom: 250px; }
  .mb-lg-300{ margin-bottom: 300px; }

  .mt-lg-10{ margin-top: 10px; }
  .mt-lg-20{ margin-top: 20px; }
  .mt-lg-30{ margin-top: 30px; }
  .mt-lg-40{ margin-top: 40px; }
  .mt-lg-50{ margin-top: 50px; }
  .mt-lg-60{ margin-top: 60px; }
  .mt-lg-70{ margin-top: 70px; }
  .mt-lg-80{ margin-top: 80px; }
  .mt-lg-90{ margin-top: 90px; }
  .mt-lg-100{ margin-top: 100px; }
  .mt-lg-150{ margin-top: 150px; }
  .mt-lg-200{ margin-top: 200px; }
  .mt-lg-250{ margin-top: 250px; }
  .mt-lg-300{ margin-top: 300px; }

  #footer .custom-box-1 { position: absolute; right: 30px; bottom: 0; }
  #footer .btn-wrap { max-width: 270px; }
  #gnb .nav-wrap { justify-content: space-between !important; }
  #gnb .nav-wrap {padding: 45px 8.5vw 25px;transition: background .5s ease;}
}
/* .fs : End Large devices (desktops, 992px and up) */


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fs-xl-60{ font-size: 60px;}
  .fs-xl-40{ font-size: 40px;}
  .fs-xl-30{ font-size: 30px;}
  .fs-xl-24{ font-size: 24px;}
  .fs-xl-20{ font-size: 20px;}
  .fs-xl-18{ font-size: 18px;}
  .fs-xl-16{ font-size: 16px;}
  .fs-xl-14{ font-size: 14px;}
  .fs-xl-12{ font-size: 12px;}

  .fw-xl-400{ font-weight: 400; }
  .fw-xl-500{ font-weight: 500; }
  .fw-xl-600{ font-weight: 600; }
  .fw-xl-700{ font-weight: 700; }

  .mb-xl-10{ margin-bottom: 10px; }
  .mb-xl-20{ margin-bottom: 20px; }
  .mb-xl-30{ margin-bottom: 30px; }
  .mb-xl-40{ margin-bottom: 40px; }
  .mb-xl-50{ margin-bottom: 50px; }
  .mb-xl-60{ margin-bottom: 60px; }
  .mb-xl-70{ margin-bottom: 70px; }
  .mb-xl-80{ margin-bottom: 80px; }
  .mb-xl-90{ margin-bottom: 90px; }
  .mb-xl-100{ margin-bottom: 100px; }
  .mb-xl-150{ margin-bottom: 150px; }
  .mb-xl-200{ margin-bottom: 200px; }
  .mb-xl-250{ margin-bottom: 250px; }
  .mb-xl-300{ margin-bottom: 300px; }

  .mt-xl-10{ margin-top: 10px; }
  .mt-xl-20{ margin-top: 20px; }
  .mt-xl-30{ margin-top: 30px; }
  .mt-xl-40{ margin-top: 40px; }
  .mt-xl-50{ margin-top: 50px; }
  .mt-xl-60{ margin-top: 60px; }
  .mt-xl-70{ margin-top: 70px; }
  .mt-xl-80{ margin-top: 80px; }
  .mt-xl-90{ margin-top: 90px; }
  .mt-xl-100{ margin-top: 100px; }
  .mt-xl-150{ margin-top: 150px; }
  .mt-xl-200{ margin-top: 200px; }
  .mt-xl-250{ margin-top: 250px; }
  .mt-xl-300{ margin-top: 300px; }

  .container { max-width: 1030px; }

  #wedo .nest .item .item-text,
  #wedo .accordion .inner .inner-title { font-size: 20px; }
  .eruda-portfolio-slider .swiper-button-wrapper {left: 12vw;right: 12vw;}

}
/* End X-Large devices (large desktops, 1200px and up) */


/* .xl : XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .fs-xxl-60{ font-size: 60px;}
  .fs-xxl-40{ font-size: 40px;}
  .fs-xxl-30{ font-size: 30px;}
  .fs-xxl-24{ font-size: 24px;}
  .fs-xxl-20{ font-size: 20px;}
  .fs-xxl-18{ font-size: 18px;}
  .fs-xxl-16{ font-size: 16px;}
  .fs-xxl-14{ font-size: 14px;}
  .fs-xxl-12{ font-size: 12px;}

  .fw-xxl-400{ font-weight: 400; }
  .fw-xxl-500{ font-weight: 500; }
  .fw-xxl-600{ font-weight: 600; }
  .fw-xxl-700{ font-weight: 700; }

  .mb-xxl-10{ margin-bottom: 10px; }
  .mb-xxl-20{ margin-bottom: 20px; }
  .mb-xxl-30{ margin-bottom: 30px; }
  .mb-xxl-40{ margin-bottom: 40px; }
  .mb-xxl-50{ margin-bottom: 50px; }
  .mb-xxl-60{ margin-bottom: 60px; }
  .mb-xxl-70{ margin-bottom: 70px; }
  .mb-xxl-80{ margin-bottom: 80px; }
  .mb-xxl-90{ margin-bottom: 90px; }
  .mb-xxl-100{ margin-bottom: 100px; }
  .mb-xxl-150{ margin-bottom: 150px; }
  .mb-xxl-200{ margin-bottom: 200px; }
  .mb-xxl-250{ margin-bottom: 250px; }
  .mb-xxl-300{ margin-bottom: 300px; }

  .mt-xxl-10{ margin-top: 10px; }
  .mt-xxl-20{ margin-top: 20px; }
  .mt-xxl-30{ margin-top: 30px; }
  .mt-xxl-40{ margin-top: 40px; }
  .mt-xxl-50{ margin-top: 50px; }
  .mt-xxl-60{ margin-top: 60px; }
  .mt-xxl-70{ margin-top: 70px; }
  .mt-xxl-80{ margin-top: 80px; }
  .mt-xxl-90{ margin-top: 90px; }
  .mt-xxl-100{ margin-top: 100px; }
  .mt-xxl-150{ margin-top: 150px; }
  .mt-xxl-200{ margin-top: 200px; }
  .mt-xxl-250{ margin-top: 250px; }
  .mt-xxl-300{ margin-top: 300px; }
}
/* End XX-Large devices (larger desktops, 1400px and up) */
